<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jobis.mapper.ChatMapper">
	
	<!-- 채팅방 생성 -->
	<insert id="insertChatRoom" parameterType="org.jobis.domain.CompanyRoomDTO">
	    INSERT INTO tbl_room (rno, company, emp, ono)
	    SELECT SEQ_RNO.NEXTVAL, #{company}, #{emp}, #{ono}
	    FROM dual
	    WHERE NOT EXISTS (
	        SELECT 1 FROM tbl_room
	        WHERE company = #{company}
	          AND emp = #{emp}
	          AND ono = #{ono}
	    )
	</insert>
	
	<!-- 채팅방 삭제 --><!-- parameterType="org.jobis.domain.CompanyRoomDTO"  -->
	<delete id="deleteChatRoom">
		DELETE FROM tbl_room WHERE ono=#{ono} AND emp =#{emp}
	</delete>
	
	<!-- 기업이 채팅방 가져오기 -->
	<select id="initCompanyChatLayout" parameterType="int" resultType="org.jobis.domain.CompanyRoomDTO">
	    SELECT 
	        R.RNO,
	        R.COMPANY,
	        R.EMP,
	        R.ONO,
	        U.NAME,
	        U.BIRTHDATE
	    FROM 
	        TBL_ROOM R
	    JOIN 
	        TBL_USER U
	    ON 
	        R.EMP = U.UNO
	    WHERE 
	        R.COMPANY = #{cno}
	</select>
	
	<!-- 유저가 채팅방 가져오기 -->
	<select id="initUserChatLayout" parameterType="int" resultType="org.jobis.domain.UserRoomDTO">
	    SELECT 
	        r.RNO,
	        r.COMPANY,
	        r.EMP,
	        r.ONO,
	        c.corpNm
	    FROM 
	        TBL_ROOM r
	    LEFT JOIN 
	        TBL_CINFO c ON r.COMPANY = c.uno
	    WHERE 
	        r.EMP = #{uno}
	</select>
	
	<!-- 채팅 저장 -->
	<insert id="insertChatMessage" parameterType="org.jobis.domain.ChatMessageVO">
	    INSERT INTO TBL_CHATLOG (CLNO, RNO, SENDER, CONTENT, HIT, CL_REGDATE)
	    VALUES (SEQ_CLNO.NEXTVAL, #{rno}, #{sender}, #{content}, #{hit}, SYSDATE)
	</insert>
	
	<!-- 채팅 불러오기 -->
	<select id="selectByRnoChatMessages" parameterType="int" resultType="org.jobis.domain.ChatMessageVO">
	    SELECT 
	        CLNO, RNO, SENDER, CONTENT, HIT, CL_REGDATE
	    FROM TBL_CHATLOG
	    WHERE RNO = #{rno}
	    ORDER BY CL_REGDATE ASC, CLNO ASC
	</select>
	
	<!-- 채팅 읽음 표시 -->
	<update id="updateChatHit" parameterType="map">
	  UPDATE TBL_CHATLOG
	  SET HIT = 1
	  WHERE RNO = #{rno} AND HIT = 0 AND sender = #{uno}
	</update>

	<!-- 유저 채팅 input-->
	<insert id="register" parameterType="org.jobis.domain.UserChatVO">
		INSERT INTO tbl_userchat (
			cno,
			r_title,
			r_tag,
			leader,
			r_regdate,
			sch_date,
			enabled
		)
		VALUES (
			seq_cno.nextval,
			#{r_title},
			#{r_tag},
			#{leader},
			SYSDATE,
			#{sch_date, jdbcType=TIMESTAMP},
			<!-- #{sch_date}, -->
			1
		)
	</insert>
	
	<!--  insert한 유저 채팅 날짜 가져오기 -->
	<select id="getRegdate" parameterType="org.jobis.domain.UserChatVO" resultType="java.util.Date">
		SELECT * FROM (
	    SELECT r_regdate
	    FROM tbl_userchat
	    WHERE leader = #{leader}
	      AND r_title = #{r_title}
	      AND sch_date = #{sch_date}
	    ORDER BY cno DESC
	)
	WHERE ROWNUM = 1
	</select>
	
	<!-- 유저 채팅 불러오기 (전체)-->
	<select id="getUserChat" resultType="org.jobis.domain.UserChatVO">
	    SELECT uc.*, 
	           u1.name AS leader_name, 
	           u2.name AS member_name
	    FROM tbl_userchat uc
	    LEFT JOIN tbl_user u1 ON uc.leader = u1.uno
	    LEFT JOIN tbl_user u2 ON uc.member = u2.uno
	    WHERE uc.sch_date &gt;= ADD_MONTHS(SYSDATE, -1)
	    ORDER BY uc.r_regdate DESC
	</select>
	
	<!-- 태그 별로 유저 채팅 불러오기  -->
	<select id="getUserChatByTag" resultType="org.jobis.domain.UserChatVO">
	    SELECT uc.*, 
	           u1.name AS leader_name, 
	           u2.name AS member_name
	    FROM tbl_userchat uc
	    LEFT JOIN tbl_user u1 ON uc.leader = u1.uno
	    LEFT JOIN tbl_user u2 ON uc.member = u2.uno
	    WHERE uc.r_tag = #{r_tag}
	      AND uc.sch_date &gt;= ADD_MONTHS(SYSDATE, -1)
	    ORDER BY uc.r_regdate DESC
	</select>
	
	<!-- 이름 가져오기 -->
	<select id="getNameByUno" resultType="org.jobis.domain.UserVO">
		SELECT * FROM tbl_user where uno=#{uno}
	</select>
	
	<!--  다른 유저 이름 가져오기 -->
	<select id="getOtherNameByUno" parameterType="int" resultType="org.jobis.domain.UserVO">
		SELECT * FROM tbl_user where uno=#{uno}
	</select>
	
	<!-- 채팅 참여하기 -->
	<update id="joinChat">
		UPDATE tbl_userchat
		SET member = #{member}
		WHERE cno = #{cno}
	</update>
	
	<!--  채팅 삭제하기 -->
	<delete id="deleteUserChat" parameterType="int">
		DELETE FROM tbl_userchat
		WHERE cno = #{cno}
	</delete>

	<!--  단일 데이터 가져오기 -->
	<select id="getChatByCno" resultType="org.jobis.domain.UserChatVO">
	  SELECT * FROM tbl_userchat WHERE cno = #{cno}
	</select>
	
	<!-- member를 leader로 바꾸기 -->
	<update id="promoteMemberToLeader">
	  UPDATE tbl_userchat
	  SET leader = member,
	      member = null,
	      r_regdate = sysdate
	  WHERE cno = #{cno}
	</update>
	
	<!-- member 삭제 -->
	<update id="leaveChatAsMember">
	  UPDATE tbl_userchat
	  SET member = null,
	  	  r_regdate=sysdate	
	  WHERE cno = #{cno}
	</update>
	
	<!-- 패널티 정보 가져오기 -->
	<select id="getPenaltyByUno" parameterType="int" resultType="org.jobis.domain.PenaltyVO">
	    SELECT * FROM tbl_penalty WHERE uno = #{uno}
	</select>
	
	<!-- 패널티 부여하기(최초) -->
	<insert id="insertPenalty" parameterType="org.jobis.domain.PenaltyVO">
	    INSERT INTO tbl_penalty (uno, count, until)
	    VALUES (#{uno}, #{count}, #{until, jdbcType=TIMESTAMP})
	</insert>
	
	<!-- 패널티 부여하기(2회차부터) -->
	<update id="updatePenalty" parameterType="org.jobis.domain.PenaltyVO">
	    UPDATE tbl_penalty
	    SET count = #{count},
	        until = #{until, jdbcType=TIMESTAMP}
	    WHERE uno = #{uno}
	</update>
</mapper>
