<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jobis.mapper.JshMapper">
	<select id="findUserId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_user WHERE id=#{id}
	</select>
	
	<insert id="registerUser" parameterType="org.jobis.domain.UserVO">
		INSERT INTO tbl_user (
        uno, name, birthdate, id, pw, email, subscribe, auth
	    ) VALUES (
	        seq_uno.nextval,
	        #{name},
	        #{birthdate},
	        #{id},
	        #{pw},
	        #{email},
	        DEFAULT,
	        'user'
	    )
	</insert>
	
	<select id="loginUser" parameterType="map" resultType="org.jobis.domain.UserVO">
	    SELECT * FROM tbl_user
	    WHERE id = #{id}
	      AND pw = #{pw}
	</select>
	
	<select id="getProfileByUno" parameterType="int" resultType="org.jobis.domain.ProfileVO">
	    SELECT *
	    FROM tbl_uprofile
	    WHERE uno = #{uno}
	</select>
	
	<insert id="createProfile" parameterType="org.jobis.domain.ProfileVO">
	    INSERT INTO tbl_uprofile (uno, nickname, profileimage)
	    VALUES (#{uno}, #{nickname}, #{profileimage})
	</insert>
	
	<select id="getUserById" parameterType="String" resultType="org.jobis.domain.UserVO">
		SELECT * FROM tbl_user WHERE id = #{id}
	</select>
</mapper>
