<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jobis.mapper.SmMapper">
	<!-- 아이디 중복 확인 -->
	<select id="findUserId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_user WHERE id=#{id}
	</select>
	
	<!-- 기업 등록 -->
	<insert id="insertCUser" parameterType="org.jobis.domain.CUserVO">
  
	  <selectKey keyProperty="uno" resultType="int" order="BEFORE" statementType="STATEMENT">
	    SELECT SEQ_UNO.NEXTVAL FROM DUAL
	  </selectKey>
	  
	  BEGIN
		  INSERT INTO TBL_USER (UNO, ID, PW, EMAIL)
		  VALUES (#{uno}, #{id}, #{pw}, #{email});
		
		  INSERT INTO TBL_CINFO VALUES (
		    #{uno}, #{corpNm}, #{bzno}, #{enpRprFnm}, #{enpBsadr}, #{sicNm}, #{enpEmpeCnt}
		  );
	  END;
	</insert>
	
	<!-- 면접 공고 등록 -->
	<insert id="insertInterView" parameterType="org.jobis.domain.InterViewBCVO">
		INSERT INTO TBL_OFFERS VALUES (
			SEQ_ONO.NEXTVAL,
			#{uno},
			#{o_title},
			#{o_tag},
			#{o_content},
			#{o_activedays},
			SYSDATE		
		)
	</insert>
	
	<!-- 진행 중 / 마감 -->
	<select id="progress" resultType="org.jobis.domain.InterViewBCVO" parameterType="int">
	    SELECT
	        o.*,
	        (SELECT COUNT(*)
	         FROM TBL_SUBMISSIONS s
	         WHERE s.ONO = o.ONO) AS applicantCount
	    FROM
	        TBL_OFFERS o
	    WHERE
	        <choose>
	            <when test="_parameter == 1">
	                o.o_activedays &gt;= SYSDATE
	            </when>
	            <when test="_parameter == 0">
	                o.o_activedays &lt;= SYSDATE
	            </when>
	            <otherwise>
	                o.o_activedays &gt;= SYSDATE
	            </otherwise>
	        </choose>
	</select>
	
	<!-- 공고 지원한 사람 데이터 -->
	<select id="selectByOno" resultType="org.jobis.domain.User_InterViewDTO" parameterType="int">
		SELECT 
	        s.ONO,
	        s.UNO,
	        s.O_TITLE,
	        s.O_TAG,
	        s.O_CONTENT,
	        s.O_REGDATE,
	        u.NAME,
	        u.BIRTHDATE,
	        u.EMAIL
	    FROM 
	        TBL_SUBMISSIONS s
	    JOIN 
	        TBL_USER u ON s.UNO = u.UNO
	    WHERE 
	        s.ONO = #{ono}
	</select>
	
	<!-- 공고 삭제 -->
	<delete id="deleteByOno" parameterType="java.util.List">
	    DELETE FROM tbl_offers
	    WHERE ono IN
	    <foreach item="ono" collection="onoList" open="(" separator="," close=")">
	        #{ono}
	    </foreach>
	</delete>
	
	<!-- 해당 공고 가져오기 -->
	<select id="oneInterViewByOno" parameterType="int" resultType="org.jobis.domain.InterViewBCVO">
		SELECT * FROM TBL_OFFERS WHERE ono = #{ono}
	</select>
</mapper>
