<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jobis.mapper.UserChatMapper">

	<!-- 유저 채팅 input-->
	<insert id="register">
		INSERT INTO tbl_userchat (
			cno,
			r_title,
			r_tag,
			leader,
			r_regdate,
			sch_date,
			enabled
		)
		VALUES (
			seq_cno.nextval,
			#{r_title},
			#{r_tag},
			#{leader},
			SYSDATE,
			TO_DATE(#{sch_date}, 'YYYY-MM-DD HH24:MI:SS'),
			1
		)
	</insert>
	
	<!-- 유저 채팅 불러오기 (전체)-->
	<select id="getUserChat" resultType="org.jobis.domain.CJSVO">
		SELECT uc.*, 
		       u1.name AS leader_name, 
		       u2.name AS member_name
		FROM tbl_userchat uc
		LEFT JOIN tbl_user u1 ON uc.leader = u1.uno
		LEFT JOIN tbl_user u2 ON uc.member = u2.uno
		ORDER BY uc.cno DESC
	</select>
	
	<!-- 태그 별로 유저 채팅 불러오기  -->
	<select id="getUserChatByTag" resultType="org.jobis.domain.CJSVO">
		SELECT uc.*, 
		       u1.name AS leader_name, 
		       u2.name AS member_name
		FROM tbl_userchat uc
		LEFT JOIN tbl_user u1 ON uc.leader = u1.uno
		LEFT JOIN tbl_user u2 ON uc.member = u2.uno
		WHERE uc.r_tag = #{r_tag}
		ORDER BY uc.cno DESC
	</select>
	
	
	<!-- 이름 가져오기 -->
	<select id="getNameByUno" resultType="org.jobis.domain.UserVO">
		SELECT * FROM tbl_user where uno=#{uno}
	</select>
	
	<!--  다른 유저 이름 가져오기 -->
	<select id="getOtherNameByUno" parameterType="int" resultType="org.jobis.domain.UserVO">
		SELECT * FROM tbl_user where uno=#{uno}
	</select>

	
	<!-- 채팅 참여하기 -->
	<update id="joinChat">
		UPDATE tbl_userchat
		SET member = #{member}
		WHERE cno = #{cno}
	</update>
	
	<!--  채팅 삭제하기 -->
	<delete id="deleteUserChat" parameterType="int">
		DELETE FROM tbl_userchat
		WHERE cno = #{cno}
	</delete>
	
	<!--  단일 데이터 가져오기 -->
	<select id="getChatByCno" resultType="org.jobis.domain.CJSVO">
	  SELECT * FROM tbl_userchat WHERE cno = #{cno}
	</select>
	
	<!-- member를 leader로 바꾸기 -->
	<update id="promoteMemberToLeader">
	  UPDATE tbl_userchat
	  SET leader = member,
	      member = null
	  WHERE cno = #{cno}
	</update>
	
	<!-- member 삭제 -->
	<update id="leaveChatAsMember">
	  UPDATE tbl_userchat
	  SET member = null
	  WHERE cno = #{cno}
	</update>
	
	<!--  기업 정보 가져오기 -->
	<select id="getCompanyOffers" resultType="org.jobis.domain.CompanyOfferDTO">
		SELECT
	      o.ono           AS ono,
	      c.corpnm        AS corpName,
	      u.profileimage  AS profileImage,
	      o.o_tag         AS category,
	      o.o_title       AS title
	    FROM tbl_offers o
	    JOIN tbl_cinfo c      ON o.uno = c.uno
	    LEFT JOIN tbl_uprofile u ON o.uno = u.uno
	    ORDER BY o.ono DESC
	</select>
	
	<!--  공고 작성완료 (유저가 답변) -->
	<insert id="insertSubmission">
	 INSERT INTO tbl_submissions (
	      uno,
	      ono,
	      o_title,
	      o_tag,
	      o_content,
	      o_regdate
	    ) VALUES (
	      #{uno},
	      #{ono},
	      #{o_title},
	      #{o_tag},
	      #{o_content},
	      SYSDATE
	    )
	</insert>
	
	<!--  스크랩한 공고 목록 가져오기 -->
	<select id="getFavByUno" parameterType="int" resultType="org.jobis.domain.CompanyOfferDTO">
	    SELECT 
	        o.ono,
	        c.corpnm AS corpName,
	        u.profileimage AS profileImage,
	        o.o_tag AS category,
	        o.o_title AS title
	    FROM tbl_fav f
	    JOIN tbl_offers o ON f.ono = o.ono
	    JOIN tbl_cinfo c ON o.uno = c.uno
	    LEFT JOIN tbl_uprofile u ON o.uno = u.uno
	    WHERE f.uno = #{uno}
	</select>
 
	<!--  공고 스크랩하기 -->
	<insert id="addFavorite" parameterType="org.jobis.domain.FavDTO">
		INSERT INTO tbl_fav (uno,ono) VALUES (#{uno}, #{ono})
	</insert>
	
	<!--  스크랩 취소하기 -->
	<delete id="removeFavorite" parameterType="org.jobis.domain.FavDTO">
		DELETE FROM tbl_fav WHERE uno=#{uno} and ono=#{ono}
	</delete>
	
	<!-- 유저가 지원한 공고 목록 가져오기 -->
	<select id="getAppliedByUno" parameterType="int">
		SELECT 
	        s.uno, 
	        s.ono, 
	        o.o_title AS o_title, 
	        o.o_tag AS o_tag, 
	        s.o_content AS o_content
	    FROM tbl_submissions s
	    JOIN tbl_offers o ON s.ono = o.ono
	    WHERE s.uno = #{uno}
	</select>
</mapper>
