<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jobis.mapper.UserChatMapper">

	<!-- 유저 채팅 input-->
	<insert id="register">
		INSERT INTO tbl_userchat (
			cno,
			r_title,
			r_tag,
			leader,
			r_regdate,
			sch_date,
			enabled
		)
		VALUES (
			seq_cno.nextval,
			#{r_title},
			#{r_tag},
			#{leader},
			SYSDATE,
			TO_DATE(#{sch_date}, 'YYYY-MM-DD HH24:MI:SS'),
			1
		)
	</insert>
	
	<!-- 유저 채팅 불러오기 -->
<!-- 	<select id="getUserChat" resultType="org.jobis.domain.CJSVO">
		SELECT * FROM tbl_userchat ORDER BY cno DESC
	</select> -->
	
	<select id="getUserChat" resultMap="UserChatMap">
	  SELECT 
	    uc.*, 
	    u.name AS leader_name
	  FROM tbl_userchat uc
	  JOIN tbl_user u ON uc.leader = u.uno
	  ORDER BY uc.cno DESC
	</select>
	
	<resultMap id="UserChatMap" type="org.jobis.domain.CJSVO">
	  <id property="cno" column="cno"/>
	  <result property="r_title" column="r_title"/>
	  <result property="r_tag" column="r_tag"/>
	  <result property="leader" column="leader"/>
	  <result property="r_regdate" column="r_regdate"/>
	  <result property="sch_date" column="sch_date"/>
	  <result property="enabled" column="enabled"/>
	  <result property="leader_name" column="leader_name"/>
	</resultMap>
</mapper>
