<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jobis.mapper.UserMapper">
	<update id="updateLastTryDate" parameterType="long">
		UPDATE tbl_user
		SET last_try_date = SYSDATE
		WHERE uno = #{uno}
	</update>
	<select id="getUserByUno" parameterType="int" resultType="org.jobis.domain.UserVO">
		SELECT 
			uno,
			name,
			birthdate,
			id,
			pw,
			email,
			subscribe,
			auth,
			last_try_date AS lastTryDate,
			subscribe_date AS subscribeDate
		FROM TBL_USER
		WHERE UNO = #{uno}
	</select>
	<update id="updateSubscribe">
		UPDATE TBL_USER
			SET SUBSCRIBE = #{num}
		WHERE UNO = #{uno}
	</update>
	<update id="completeSubscriptionPayment">
		UPDATE TBL_USER
		SET
			SUBSCRIBE = #{subscribe},
			SUBSCRIBE_DATE = #{subscribeDate}
		WHERE UNO = #{uno}
	</update>
	<update id="expireSubscriptionIfNeeded" parameterType="int">
	<![CDATA[
		UPDATE TBL_USER
		SET 
			subscribe = 0
		WHERE uno = #{uno}
		  AND subscribe = 1
		  AND subscribe_date < SYSDATE
	]]>
	</update>
</mapper>
